Repository ewolfe/prlint: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "src/**/*.js": ["prettier --write", "eslint --fix", "git add"],
  "test/**/*.js": ["prettier --write", "eslint --fix", "git add"],
  "*.md": ["prettier --write","git add"]
}

chore: Match app settings with existing app
  app.yml
Due: none

chore: Subscribe to every event but "closed"
  src/app.js
Due: prettier --write, eslint --fix

chore: Rename file to sound less confusing with `core/lint.js`
  src/app.js
  src/handler.js
Due: prettier --write, eslint --fix

chore: Make it listen to /webhook path
  .env.example
Due: none

refactor: Eliminate duplicate code (code quality)
  test/index.test.js
Due: prettier --write, eslint --fix

chore: No longer needed
  test/test.js.old
Due: none

refactor: Make the tests fail on failure
  test/index.test.js
Due: prettier --write, eslint --fix

chore: Add final reporting logic back
  src/handler.js
Due: prettier --write, eslint --fix

chore: Add jest debug configs
  .vscode/launch.json
Due: none

test: Correct assertions
  test/index.test.js
Due: prettier --write, eslint --fix

chore: Cleanup
  package.json
Due: none

chore: no longer needed
  pretest.sh
Due: none

docs: Add contributing guidelines
  CONTRIBUTING.md
  package.json
  yarn.lock
Due: prettier --write

fix: slice is not a function
  src/app.js
Due: prettier --write, eslint --fix

chore: Lambda experiments
  handler.js
  index.js
  now.json
  package-lock.json
  package.json
  yarn.lock
Due: none

Pin now.sh to version 1
  now.json
Due: none

Update now-cli to version 15
  .travis.yml
Due: none

chore(package): update lockfile
  yarn.lock
Due: none
